Proyecto/Nodo_Cisterna/NODERED_FLOW_EXAMPLE.json
[
  {
    "id": "cistern_water_level_sub",
    "type": "mqtt in",
    "z": "cistern_dashboard",
    "name": "Nivel de Agua",
    "topic": "cistern/water_level",
    "qos": "1",
    "datatype": "auto",
    "broker": "local_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "outputs": 1,
    "payload": "",
    "x": 100,
    "y": 50,
    "wires": [["gauge_water_level", "debug_level"]]
  },
  {
    "id": "cistern_tds_sub",
    "type": "mqtt in",
    "z": "cistern_dashboard",
    "name": "TDS",
    "topic": "cistern/tds_value",
    "qos": "1",
    "datatype": "auto",
    "broker": "local_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "outputs": 1,
    "payload": "",
    "x": 100,
    "y": 120,
    "wires": [["gauge_tds", "debug_tds"]]
  },
  {
    "id": "cistern_water_state_sub",
    "type": "mqtt in",
    "z": "cistern_dashboard",
    "name": "Estado del Agua",
    "topic": "cistern/water_state",
    "qos": "1",
    "datatype": "auto",
    "broker": "local_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "outputs": 1,
    "payload": "",
    "x": 100,
    "y": 190,
    "wires": [["text_water_state", "debug_state"]]
  },
  {
    "id": "cistern_pump_state_sub",
    "type": "mqtt in",
    "z": "cistern_dashboard",
    "name": "Estado de la Bomba",
    "topic": "cistern/pump_state",
    "qos": "1",
    "datatype": "auto",
    "broker": "local_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "outputs": 1,
    "payload": "",
    "x": 100,
    "y": 260,
    "wires": [["text_pump_state", "debug_pump"]]
  },
  {
    "id": "gauge_water_level",
    "type": "ui_gauge",
    "z": "cistern_dashboard",
    "name": "Nivel (cm)",
    "group": "cistern_group",
    "order": 1,
    "width": "6",
    "height": "5",
    "gtype": "gage",
    "title": "Nivel de Agua",
    "unit": "cm",
    "min": "0",
    "max": "200",
    "seg1": "50",
    "seg2": "150",
    "inputs": 1,
    "outputs": 0,
    "x": 380,
    "y": 50,
    "wires": []
  },
  {
    "id": "gauge_tds",
    "type": "ui_gauge",
    "z": "cistern_dashboard",
    "name": "TDS (ppm)",
    "group": "cistern_group",
    "order": 2,
    "width": "6",
    "height": "5",
    "gtype": "gage",
    "title": "Conductividad TDS",
    "unit": "ppm",
    "min": "0",
    "max": "1000",
    "seg1": "300",
    "seg2": "600",
    "inputs": 1,
    "outputs": 0,
    "x": 380,
    "y": 120,
    "wires": []
  },
  {
    "id": "text_water_state",
    "type": "ui_text",
    "z": "cistern_dashboard",
    "name": "Estado del Agua",
    "group": "cistern_group",
    "order": 3,
    "width": "6",
    "height": "2",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 380,
    "y": 190,
    "wires": []
  },
  {
    "id": "text_pump_state",
    "type": "ui_text",
    "z": "cistern_dashboard",
    "name": "Bomba",
    "group": "cistern_group",
    "order": 4,
    "width": "6",
    "height": "2",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 380,
    "y": 260,
    "wires": []
  },
  {
    "id": "button_pump_on",
    "type": "ui_button",
    "z": "cistern_dashboard",
    "name": "Encender Bomba",
    "group": "cistern_group",
    "order": 5,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "ON",
    "tooltip": "",
    "color": "",
    "bgcolor": "green",
    "icon": "",
    "payload": "ON",
    "payloadType": "str",
    "topic": "",
    "topicType": "ignored",
    "x": 100,
    "y": 350,
    "wires": [["mqtt_pump_control"]]
  },
  {
    "id": "button_pump_off",
    "type": "ui_button",
    "z": "cistern_dashboard",
    "name": "Apagar Bomba",
    "group": "cistern_group",
    "order": 6,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "OFF",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "icon": "",
    "payload": "OFF",
    "payloadType": "str",
    "topic": "",
    "topicType": "ignored",
    "x": 100,
    "y": 410,
    "wires": [["mqtt_pump_control"]]
  },
  {
    "id": "button_pump_auto",
    "type": "ui_button",
    "z": "cistern_dashboard",
    "name": "Modo Auto",
    "group": "cistern_group",
    "order": 7,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "AUTO",
    "tooltip": "",
    "color": "",
    "bgcolor": "blue",
    "icon": "",
    "payload": "AUTO",
    "payloadType": "str",
    "topic": "",
    "topicType": "ignored",
    "x": 100,
    "y": 470,
    "wires": [["mqtt_pump_control"]]
  },
  {
    "id": "mqtt_pump_control",
    "type": "mqtt out",
    "z": "cistern_dashboard",
    "name": "Control Bomba",
    "topic": "cistern_control",
    "qos": "1",
    "retain": false,
    "broker": "local_broker",
    "x": 380,
    "y": 410,
    "wires": []
  },
  {
    "id": "debug_level",
    "type": "debug",
    "z": "cistern_dashboard",
    "name": "Debug: Nivel",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 50,
    "wires": []
  },
  {
    "id": "debug_tds",
    "type": "debug",
    "z": "cistern_dashboard",
    "name": "Debug: TDS",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 120,
    "wires": []
  },
  {
    "id": "debug_state",
    "type": "debug",
    "z": "cistern_dashboard",
    "name": "Debug: Estado Agua",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 190,
    "wires": []
  },
  {
    "id": "debug_pump",
    "type": "debug",
    "z": "cistern_dashboard",
    "name": "Debug: Bomba",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 260,
    "wires": []
  },
  {
    "id": "local_broker",
    "type": "mqtt-broker",
    "name": "Raspberry Pi MQTT",
    "broker": "10.42.0.111",
    "port": "1883",
    "clientid": "node-red-cisterna",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "cistern_group",
    "type": "ui_group",
    "name": "Control Cisterna",
    "tab": "cistern_tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "cistern_tab",
    "type": "ui_tab",
    "name": "Cisterna",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
